.trash-icon:hover {
  color: red;
  cursor: pointer;
}

.spending {
  color: red;
}

.income {
  color: green;
}

.action-icon:hover {
  cursor: pointer;
  color: red;
}

.border-button {
  border: solid;
}

.input-inline {
  display: inline-block;
}

.dropdown-menu {
  border-color: white;
}

.dropdown-icon {
  border-color: white;
  float: right;
}

